.home{
    background-image: url("/uebg.png");
    background-size: cover;
    background-position: center; 
    background-color: azure;
    height: 100vh !important;
    margin: 0 !important;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home div{
    margin: 10px;
}