.restaurant-categories {
    padding: 10px;
}
.category-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}


.category-card {
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}


.category-card h3 {
  text-align: center;
}
