div.first {
    animation: slide-out 1s ease;
}

div.second {
    animation: slide-in 1s ease;
}

@keyframes slide-in {
    from {
        opacity: 0%;
        transform: translateX(25vw);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slide-out {
    from {
        opacity: 0%;
        transform: translateX(-25vw);
    }
    to {
        transform: translateX(0);
    }
}

.SignupForm__submit {
    display: flex;
    justify-content: space-between;
}

.LoginModal .SignupForm__next {
    display: flex;
    justify-content: flex-end;
}