/* TODO: Add sitewide styles */
:root {
	--main-bg-color: rgb(243, 243, 243);
	--white: #FFFFFF;
}

html {
	scroll-behavior: smooth;
	font-family: sans-serif;
}

body {
	margin: 0;
	background-color: var(--main-bg-color);
}

.grey {
    color: grey
}

.bold {
    font-weight: bold;
    font-size: 1.2rem;
}