.LoginModal {
	display: flex;
	flex-direction: row;
	padding: 20px;
	padding-top: 0;
	overflow: hidden;
}

.LoginModal input {
	display: flex;
	flex-direction: column;
	width: 25vw;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 20px;
	transition: border-color 0.3s;
}

.LoginModal input:focus {
    border-color: var(--light-blue);
    outline: none;
}

.LoginModal label {
	color: var(--dark-grey);
	margin-bottom: 5px;
}

.LoginModal__header {
	text-align: center;
	margin-top: 20px;
}

.LoginModal button {
    background-color: #00aaff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.LoginModal button:hover {
    background-color: var(--dark-blue);
}

.LoginModal p {
	width: 25vw;
	color: var(--accent);
	display: flex;
	justify-content: center;
	align-items: center;
}

.LoginModal p * {
	padding: 5px;
}