.restaurantByType {
    display: flex;
    flex-direction: column;
}
.restaurantSection {
    display: flex;
    flex-direction: row;
    margin: 70px;
    flex-wrap: wrap;
    justify-content: space-between;

}
.item {
    margin: 15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}



@media (min-width: 480px) {
    .item {
      width: 50%; /* Two columns on screens wider than 480px */

    }
  }

  @media (min-width: 768px) {
    .item {
      width: 33.33%; /* Three columns on screens wider than 768px */
    }
  }

  @media (min-width: 1200px) {
    .item {
      width: 25%; /* Four columns on screens wider than 1200px */
    }
  }
